{% extends "base.html" %}
{% set active_page = "/home" %}

{% block page_css %}
<style>
    .summary-card {
        background: linear-gradient(to left, white 50%, var(--theme-color) 50%) right;
        background-size: 200%;
        transition: .3s ease-out;
        border: none;
    }
    .summary-card:hover{
        color: #fff;
        background-position: left;
    }
    .zoom {
        transition: 0.3s ease-in-out;
    }
    .zoom:hover {
        transform: scale(1.1);
    }
    .image-description {
        background-color: var(--theme-color);
        color:white;
        margin-top:5em;
    }
    .navbar{
        transition: all 0.2s ease-in-out;
    }
    .btn{
        transition: all 0.2s ease-in-out;
    }
</style>
{% endblock %}

{% block content %}

<div class="vh-100">
    <img class="landing-image" src="{{ url_for('static', filename='images/farm-bg.jpg') }}">
</div>
<main role="main" class="container">
    <h1>The Queen's Vertical Farming Team</h1>
    <div class="py-4"></div>
    <p>QVFT is Canada's first undergraduate engineering team of its kind. Recognizing this rapidly emerging industry, QVFT is designing and building a functional, software-automated aeroponic vertical farm on Queen's University campus. Our 25 alumni and 13 current members come from diverse academic disciplines and represent all four years of study.</p>
    <div class="py-4"></div>
    <div class="row justify-content-around text-center">
        <div class="col-7 col-md-4 col-lg-3">
            <div class="summary-card rounded">
                <img src="{{ url_for('static', filename='images/icons/vertical-farming.png') }}" class="img-fluid w-100 p-5">
                <h5 class="pb-3">Aeroponic Farming</h5>
            </div>
        </div>
        <div class="col-7 col-md-4 col-lg-3">
            <div class="summary-card rounded">
                <img src="{{ url_for('static', filename='images/icons/shovels.png') }}" class="img-fluid w-100 p-5">
                <h5 class="pb-3">Premium Produce</h5>
            </div>
        </div>
        <div class="col-7 col-md-4 col-lg-3">
            <div class="summary-card rounded">
                <img src="{{ url_for('static', filename='images/icons/farmer.png') }}" class="img-fluid w-100 p-5">
                <h5 class="pb-3">Dedicated Growers</h5>
            </div>
        </div>
    </div>
    <div class="py-5"></div>
    <div class="row flex-row justify-content-left no-gutters smooth-transit">
        <div class="col-12 col-md-6">
            <img src="{{ url_for('static', filename='images/knowledge.png') }}" class="img-fluid rounded">
        </div>
        <div class="col-12 col-md-6 p-5 mb-auto image-description rounded-right">
            <h3>Knowledge, For Everyone</h3>
            The majority of existing research in this field is conducted privately and is thus inaccessible to the public.  Through its open-source approach, QVFT aims to democratize vertical farming knowledge and research. 
        </div>
    </div>

    <div class="py-4"></div>
    <h1>Our partners</h1>
    <div class="py-4"></div>
    <div class="row justify-content-center px-5">
        {% for partner in partner_data %}
        <div class="col-12 col-sm-5">
            <a href="{{partner.url}}">
                <img src="{{ url_for('static', filename=partner.img) }}" class="img-fluid zoom">
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="py-4"></div>
    <h1>Timeline</h1>

    <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</main>

{% endblock%}
{% block page_js %}
<script>
    $(window).scroll(function() {    
        var scroll = $(window).scrollTop();

        //>=, not <=
        if (scroll >= $(".vh-100").height()-80) {
            //clearHeader, not clearheader - caps H
            $(".navbar").addClass("navbar-light bg-light");
            $(".navbar").removeClass("navbar-dark");
            $(".btn").removeClass("btn-outline-light");
            $(".btn").addClass("btn-outline-dark");
        }
        else if (scroll < $(".vh-100").height()-80){
            $(".navbar").removeClass("navbar-light bg-light");
            $(".navbar").addClass("navbar-dark");
            $(".btn").removeClass("btn-outline-dark");
            $(".btn").addClass("btn-outline-light");
        }
    });
</script>
{% endblock%}