{% extends "base.html" %}
{% set active_page = "/team" %}
{% block content %}
<main role="main" class="container">
    <h1 class="pb-3">Our Team</h1> 
    <div class="row">
    {% for member in team_data %}
            <div class="col-6 col-lg-4">
                <figure class="figure w-100">
                    <img src="{{ url_for('static', filename=member.url) }}" class="figure-img img-fluid rounded w-100">
                    <figcaption class="figure-caption"><span class="font-weight-bold">{{member.name}}</span>, {{member.role}}</figcaption>
                </figure>
            </div>
    {% endfor %}
    </div>

</main>
{% endblock%}