:root {
    --theme-color: #afcb5b;
  }
body{
    font-family: 'Exo 2', sans-serif;
    line-height: 1.8;
}
.landing-image {
    object-fit: cover;
    height:100%;
    width:100%;
}
.navbar-dark .navbar-nav .active > .nav-link {
    font-weight: 600;
}
.container{
    margin-top:90px;
}
.navbar-toggler {
    border:none;
}
.navbar-dark .navbar-nav .nav-link {
    color:#fff;
}

embed{
    width:100%;
    height:90vh;
    margin-top: 2em;
    margin-bottom: 2em;
}
@media only screen and (min-width: 768px) {
    .nav-item.active{
        border-bottom: 3px solid var(--theme-color);
        border-radius: 10px;
    }
}

.navbar{
    border-top:3px solid var(--theme-color);
}